<%- include('./header') %>
<h1>Hello muffins!</h1>
<form action="/welcome" method="post">
  <fieldset>
    <section class="identity">
      <label
        >Identité
        <input 
          type="text" 
          id="firstname"
          name="firstname" 
          placeholder="your firstname" 
          />
        <input 
          type="text" 
          id="lastname"
          name="lastname" 
          placeholder="your lastname" 
          />
      </label>
    </section>
    <section class="connexion">
      <label
        >Connexion
        <input 
          type="text" 
          id="pseudo"
          name="pseudo" 
          placeholder="your pseudo" 
          />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="your password"
          minlength="8"
          required
        />
      </label>
    </section>
    <button>Rejoins nous</button>
  </fieldset>
</form>
<%- include('./footer') %>
